* {
    font-family: Arial, Helvetica, sans-serif;
    --global-bg-color: #1a1a1a;
    --global-text-color: #dfdfdf;
    --global-accent-color: #666666;
}

body {
    background-color: var(--global-bg-color);
    color: var(--global-text-color);
}

header {
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navs */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    height: auto;
    width: fit-content;
    border: 2px solid var(--global-accent-color);
    border-radius: 10px;
    margin-bottom: 6px;
}

/* child items */
nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
}

#deadlock {
    background-color: var(--global-accent-color);
    border-radius: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 0;
}

h2 {
    margin: 8px;
}

header img {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none;
    color: var(--global-text-color);
}

/* buttons */
h2.button {
    font-size: 18px;
    padding: 20px;
    margin: 0;
    cursor: pointer;
}

h2.button.active {
    background-color: var(--global-accent-color);
    border-radius: 10px;
    animation: click-animation 200ms ease;
}

.button {
    transition-duration: 300ms;
    border-radius: 10px;
}

.button:hover {
    background-color: #888888;
    scale: 1.1;
    border-radius: 10px;
    transition-duration: 300ms;
}

/* injected section */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section div {
    display: flex;
    align-items: center;
    gap: 10px;
}

section input {
    background-color: var(--global-accent-color);
    border-radius: 6px;
    height: 26px;
    min-width: 160px;
    font-size: 14px;
    color: var(--global-text-color);
}

#search-button {
    padding: 6px;
    cursor: pointer;
    width: 26px;
}

#search-button.active {
    background-color: var(--global-accent-color);
    border-radius: 10px;
    animation: click-animation 200ms ease;
}

#hero-input {
    padding-left: 8px;
    padding-right: 8px;
}

#player-input {
    padding-left: 8px;
    padding-right: 8px;
}

/* hero card */

#card {
    display: none;
    justify-content: center;
    gap: 100px;
    background-color: #333333;
    border-radius: 10px;
    max-width: 1000px;
    height: auto;
    padding: 56px;
}

#card-left {
    display: flex;
    flex-direction: column;
}

#card-right {
    display: flex;
    flex-direction: column;
}

#card h3 {
    margin-bottom: 0;
}

#card p {
    margin-top: 0;
    text-align: center;
}


/* match history */

#history {
    display: none;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: auto;
}

.match {
    display: flex;
    justify-content: center;
    background-color: #333333;
    max-width: 900px;
    padding: 40px;
    border-radius: 10px;
    max-width: 1000px;
    min-width: 500px;
}

.match div {
    display: flex;
    flex-direction: column;
}

.match p {
    margin: 0;
}

.match-result {
    font-weight: bold;
}

/* animations */

@keyframes click-animation {
    0% {
        scale: auto;
    }
    50% {
        scale: 0.9;
    }
    100% {
        scale: 1;
    }
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}




/* mobile */
@media (max-width: 800px) {
    #main-nav {
        flex-direction: column;
    }

    #card {
        flex-direction: column;
        gap: 0px;
        max-width: 100%;
    }
    .sticky {
        position: unset;
    }
}